body{
  background-color: #f0f0f0;
  color: #3c3c3c;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%;
}

.header{
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  background-color: rgba(0,0,0, 0.1)
}

.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pair{
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  margin: .5%
}

.degree{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70%;
  margin: -1% 10%
}
